@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* TOP AREA */
.header {
    background: #1F2937;
    padding: 16px 200px;
}

#logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 900;
}

.top {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.secondary, a {
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}

.website {
    display: flex;
    align-items: center;
    padding: 80px 0;
    gap: 10px;
}

.website .left {
    display: flex;
    flex-direction: column;
}

.website .right {
    flex-shrink: 0;
    width: 50%;
}

.awesome {
    color: #F9FAF8;
    font-weight: 900;
    font-size: 48px;
}

button {
    background: #3882F6;
    color: white;
    border-radius: 8px;
    padding: 8px 16px;
    width: 120px;
}

.header button {
    border: none;
    font-size: 18px;
}

.image {
    background-color: gray;
    height: 230px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CARD AREA */
.information {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
    margin-top: 30px;
}

.random {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 30px 0 60px 0;
}

.card {
    text-align: center;
    display: flex;
    max-width: 200px;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.square {
    border: 4px solid #3882F6;
    border-radius: 10px;
    width: 150px;
    height: 150px;
}

.pic-text {
    font-size: 18px;
    color: darkslategrey;
}

/* QUOTE AREA */
.quote {
    background: #E5E7EB;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 250px;
}

em {
    font-size: 36px;
    font-weight: 100;
    color: #1F2937;
}

.quote p {
    font-size: 24px;
    color: #1F2937;
    font-weight: bolder;
    align-self: flex-end;
}

/* CALL TO ACTION */
.action-call {
    background: white;
    display: flex;
    justify-content: center;
    padding: 50px 100px;
}

.container {
    background-color: #3882F6;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
}

.container button {
    border: 2px solid #FFF;
}

strong {
    font-size: 24px;
    color: #FFF;
}

.action-call p, .action-call button {
    font-size: 18px;
    color: white;
}

/* FOOTER */
.footer {
    height: 50px;
    font-size: 14px;
    background: #1F2937;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}